*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: radial-gradient(103.55% 103.55% at 50% -3.55%, #3f3f50 0%, #0c0c0c 100%);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.46);
}
.text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.46);
  margin: 30px;
}

.menu,
.submenu,
.about,
.wallpaper {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  /* display: none; */
}

.menu .list,
.submenu .list {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.submenu .list .list-item {
  padding-left: 25px;
}

.wallpaper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 30px);
  height: 70px;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
  background: #292934;
  box-shadow: 0px 4px 25px #000000;
  overflow: hidden;
  cursor: pointer;
}
.header svg {
  width: 15px;
  height: 28px;
  margin: 0 10px 0 15px;
}
.header p {
  margin-left: 5px;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-right: 25px;
  border-radius: 10px;
  background: #292934;
  box-shadow: 0px 4px 25px #000000;
  overflow: hidden;
  cursor: pointer;
}
.list-item + .list-item {
  margin-top: 15px;
}
.list-item img,
.header img {
  height: 100%;
}
.list-item svg {
  width: 35px;
  height: 28px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 15px;
  position: fixed;
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: rgba(4, 4, 4, 0.33);
  -webkit-backdrop-filter: blur(24px);
  -moz-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 50%;
  cursor: pointer;
}
a.control {
  font-size: 0;
  line-height: 0;
}
.control + .control {
  margin-left: 30px;
}
.control .like {
  width: 45px;
  height: 42px;
  margin-top: 5px;
  fill: #ffffff;
}
.control .like.active {
  fill: #ff0014;
}
.control .download {
  width: 31px;
  height: 35px;
}

.control .like {
  transition: all 150ms ease-in;
}
